    <div class="content add">
        <h6 class="content__title">Добавить пост</h6>
        <form action="/addcategory" method="POST" class="formAddPost">
            <div class="input-field col s6">
                <input id="category" name="category" type="text" class="validate" required>
                <label for="category">Название категории</label>
                <span class="helper-text" data-error="Введите название" ></span>
            </div>
           
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
