    <div class="content onePost">
        <h6 class="content__title">Post</h6>
        <div class="posts">
     
            <div class="post">
                <div class="header__post">
                   <h3 class="title__post">{{post.title}}</h3> 
                </div>
                <div class="content__post">
                    <div class="top__post">
                        <p class="text__post">
                            <img src="https://via.placeholder.com/180" class='image image-one'  alt="post__image">
                        {{post.messageFull}}</p>
                    </div>
                    
                    <div class="bottom__post">
                        <div class="post__info">
                            <span>Data: {{post.daymonth}}</span>
                            <span>Time: {{post.time}}</span>
                        </div>
                        <a href="/">Назад</a>
                    </div>                    
                </div>
            </div>


        </div>
    </div>